@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Mozilla+Headline:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url('./bgimg.jpg');
  background-size: cover;
}